# 실습 3. CRM 고객 추천화 서비스
1. 데이터: Online Retail.csv
2. 추천화 서비스 구현 (Collaborate Filtering)
3. 특징: 유사도 사용 고객-고객, 아이템-아이템 Matrix 구현
4. 목표:
- Customer 기반 Collaborative filtering
- Item 기반 Collaborate filtering

Matrix를 만듬  
- pivot_table - index: customerId, columns: StockCode
- nan값을 0으로 0 이상이면 1값으로 변경
- cosine sim matrix
- Making Recommendations
- 유사한 고객들에게 사지 않은 제품을 추천해줌
    - A와 B가 유사 고객일 때 A가 사고 B가 사지않은 제품이 있을 때 B에게 A가 산 제품 추천

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

## Data 불러오기

In [2]:
df = pd.read_csv('../data/OnlineRetail.csv')
df.shape

(541909, 8)

## Data 확인

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 8:26,3.39,17850.0,United Kingdom

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [5]:
df.loc[df['CustomerID'].isna()].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32,1.66,NaN,United Kingdom

## null이 포함된 행 제거

In [6]:
# subset= ['column'] column값이 null인 값만 제거
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  object
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.9+ MB

## Customer-Item Matrix

In [7]:
Customer_Item_df = pd.pivot_table(data = df, index = ['CustomerID'], columns='StockCode',values = 'Quantity',aggfunc = 'sum')
Customer_Item_df.head()

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214Y,90214Z,BANK CHARGES,C2,CRUK,D,DOT,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12347.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12348.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
12349.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
12350.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [8]:
Customer_Item_df= Customer_Item_df.applymap(lambda x: 1 if x > 0 else 0)
Customer_Item_df.head()

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214Y,90214Z,BANK CHARGES,C2,CRUK,D,DOT,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12347.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12348.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12349.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12350.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [9]:
Customer_Item_df.shape

(4372, 3684)

In [10]:
df['CustomerID'].nunique()

4372

In [11]:
df['StockCode'].nunique()

3684

## cosine_similarity

### Customer-Customer

In [12]:
from sklearn.metrics.pairwise import cosine_similarity

Customer_Customer_df = pd.DataFrame(cosine_similarity(Customer_Item_df))
Customer_Customer_df.columns = Customer_Item_df.index
Customer_Customer_df['CustomerID'] = Customer_Item_df.index
Customer_Customer_df = Customer_Customer_df.set_index('CustomerID')
Customer_Customer_df.head()

CustomerID,12346.0,12347.0,12348.0,12349.0,12350.0,12352.0,12353.0,12354.0,12355.0,12356.0,...,18273.0,18274.0,18276.0,18277.0,18278.0,18280.0,18281.0,18282.0,18283.0,18287.0
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
12347.0,0.0,1.000000,0.063022,0.046130,0.047795,0.038814,0.0,0.025876,0.136641,0.094742,...,0.0,0.0,0.054656,0.0,0.032844,0.062318,0.0,0.113776,0.109364,0.012828
12348.0,0.0,0.063022,1.000000,0.024953,0.051709,0.027995,0.0,0.027995,0.118262,0.146427,...,0.0,0.0,0.118262,0.0,0.000000,0.000000,0.0,0.000000,0.170905,0.083269
12349.0,0.0,0.046130,0.024953,1.000000,0.056773,0.138314,0.0,0.030737,0.032461,0.144692,...,0.0,0.0,0.000000,0.0,0.039014,0.000000,0.0,0.067574,0.137124,0.030475
12350.0,0.0,0.047795,0.051709,0.056773,1.000000,0.031846,0.0,0.000000,0.000000,0.033315,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.044866,0.000000

In [13]:
Customer_Customer_df.shape

(4372, 4372)

In [14]:
Customer_Customer_df.loc[12350.0].sort_values(ascending=False)

CustomerID
12350.0    1.000000
17935.0    0.183340
12414.0    0.181902
12652.0    0.175035
12814.0    0.171499
             ...
14869.0    0.000000
14870.0    0.000000
14873.0    0.000000
14875.0    0.000000
18287.0    0.000000
Name: 12350.0, Length: 4372, dtype: float64

In [16]:
Item_bought_by_A = set(Customer_Customer_df.loc[12350.0].iloc[Customer_Customer_df.loc[12350.0].to_numpy().nonzero()].index)
print(len(Item_bought_by_A))
Item_bought_by_A

1440

{16389.0,
 16392.0,
 16393.0,
 16395.0,
 16399.0,
 16401.0,
 16402.0,
 16403.0,
 16411.0,
 16413.0,
 16415.0,
 16418.0,
 16422.0,
 16426.0,
 16431.0,
 16434.0,
 16440.0,
 16442.0,
 16444.0,
 16460.0,
 16469.0,
 16470.0,
 16474.0,
 16477.0,
 16480.0,
 16483.0,
 16495.0,
 16496.0,
 16497.0,
 16499.0,
 16520.0,
 16531.0,
 16533.0,
 16536.0,
 16549.0,
 16553.0,
 16556.0,
 16571.0,
 16602.0,
 16603.0,
 16609.0,
 16612.0,
 16618.0,
 16629.0,
 16637.0,
 16644.0,
 16648.0,
 16650.0,
 16652.0,
 16657.0,
 16669.0,
 16670.0,
 16674.0,
 16678.0,
 16680.0,
 16682.0,
 16684.0,
 16686.0,
 16692.0,
 16701.0,
 16705.0,
 16706.0,
 16710.0,
 16712.0,
 16713.0,
 16726.0,
 16727.0,
 16728.0,
 16735.0,
 16743.0,
 16744.0,
 16745.0,
 16746.0,
 16750.0,
 16754.0,
 16755.0,
 16758.0,
 16759.0,
 16763.0,
 16764.0,
 16770.0,
 16771.0,
 16779.0,
 16782.0,
 16788.0,
 16790.0,
 16794.0,
 16800.0,
 16805.0,
 16813.0,
 16818.0,
 16828.0,
 16834.0,
 16843.0,
 16846.0,
 16848.0,
 16869.0,
 16873.0,
 16875.0,
 16877.0,
 16880.0,
 16882.0,
 16885.0,
 16891.0,
 16893.0,
 16895.0,
 16898.0,
 16904.0,
 16907.0,
 16910.0,
 16916.0,
 16918.0,
 16919.0,
 16923.0,
 16924.0,
 16931.0,
 16938.0,
 16949.0,
 16960.0,
 16967.0,
 16983.0,
 16984.0,
 17004.0,
 17015.0,
 17017.0,
 17019.0,
 17027.0,
 17037.0,
 17041.0,
 17043.0,
 17047.0,
 17050.0,
 17059.0,
 17062.0,
 17070.0,
 17073.0,
 17081.0,
 17082.0,
 17085.0,
 17088.0,
 17091.0,
 17092.0,
 17096.0,
 17100.0,
 17107.0,
 17111.0,
 17114.0,
 17126.0,
 17131.0,
 17139.0,
 17162.0,
 17180.0,
 17183.0,
 17188.0,
 17189.0,
 17191.0,
 17198.0,
 17203.0,
 17218.0,
 17220.0,
 17231.0,
 17238.0,
 17252.0,
 17254.0,
 17259.0,
 17266.0,
 17272.0,
 17277.0,
 17282.0,
 17288.0,
 17293.0,
 17297.0,
 17299.0,
 17301.0,
 17303.0,
 17313.0,
 17314.0,
 17315.0,
 17321.0,
 17323.0,
 17329.0,
 17333.0,
 17337.0,
 17338.0,
 17340.0,
 17341.0,
 17346.0,
 17348.0,
 17360.0,
 17364.0,
 17365.0,
 17368.0,
 17371.0,
 17372.0,
 17377.0,
 17387.0,
 17400.0,
 17402.0,
 17403.0,
 17404.0,
 17406.0,
 17410.0,
 17411.0,
 17416.0,
 17419.0,
 17426.0,
 17428.0,
 17429.0,
 17433.0,
 17434.0,
 17438.0,
 17442.0,
 17444.0,
 17447.0,
 17449.0,
 17450.0,
 17454.0,
 17472.0,
 17486.0,
 17490.0,
 17503.0,
 17504.0,
 17505.0,
 17507.0,
 17510.0,
 17511.0,
 17514.0,
 17515.0,
 17516.0,
 17521.0,
 17528.0,
 17530.0,
 17545.0,
 17552.0,
 17554.0,
 17562.0,
 17569.0,
 17571.0,
 17581.0,
 17585.0,
 17589.0,
 17591.0,
 17596.0,
 17602.0,
 17604.0,
 17611.0,
 17613.0,
 17618.0,
 17619.0,
 17625.0,
 17629.0,
 17634.0,
 17655.0,
 17659.0,
 17667.0,
 17673.0,
 17696.0,
 17702.0,
 17706.0,
 17716.0,
 17722.0,
 17724.0,
 17727.0,
 17728.0,
 17730.0,
 17733.0,
 17735.0,
 17757.0,
 17758.0,
 17760.0,
 17764.0,
 17768.0,
 17769.0,
 17786.0,
 17787.0,
 17788.0,
 17793.0,
 17795.0,
 17799.0,
 17802.0,
 17806.0,
 17811.0,
 17813.0,
 17827.0,
 17828.0,
 17829.0,
 17836.0,
 17838.0,
 17841.0,
 17843.0,
 17855.0,
 17859.0,
 17861.0,
 17863.0,
 17865.0,
 17867.0,
 17870.0,
 17873.0,
 17874.0,
 17883.0,
 17884.0,
 17886.0,
 17889.0,
 17894.0,
 17897.0,
 17898.0,
 17908.0,
 17914.0,
 17917.0,
 17920.0,
 17928.0,
 17932.0,
 17934.0,
 17935.0,
 17936.0,
 17937.0,
 17950.0,
 17954.0,
 17961.0,
 17962.0,
 17964.0,
 17965.0,
 17966.0,
 17968.0,
 17974.0,
 17975.0,
 17984.0,
 17987.0,
 17990.0,
 17994.0,
 18013.0,
 18016.0,
 18022.0,
 18027.0,
 18035.0,
 18036.0,
 18041.0,
 18043.0,
 18055.0,
 18062.0,
 18069.0,
 18078.0,
 18082.0,
 18094.0,
 18096.0,
 18097.0,
 18101.0,
 18102.0,
 18110.0,
 18116.0,
 18118.0,
 18119.0,
 18122.0,
 18123.0,
 18125.0,
 18127.0,
 18129.0,
 18145.0,
 18150.0,
 18151.0,
 18170.0,
 18172.0,
 18178.0,
 18188.0,
 18189.0,
 18196.0,
 18204.0,
 18209.0,
 18210.0,
 18223.0,
 18225.0,
 18226.0,
 18228.0,
 18230.0,
 18231.0,
 18235.0,
 18260.0,
 18263.0,
 18272.0,
 18283.0,
 12347.0,
 12348.0,
 12349.0,
 12350.0,
 12352.0,
 12356.0,
 12357.0,
 12358.0,
 12360.0,
 12361.0,
 12362.0,
 12364.0,
 12367.0,
 12370.0,
 12371.0,
 12372.0,
 12373.0,
 12374.0,
 12375.0,
 12377.0,
 12379.0,
 12380.0,
 12381.0,
 12383.0,
 12384.0,
 12386.0,
 12390.0,
 12393.0,
 12394.0,
 12395.0,
 12397.0,
 12398.0,
 12399.0,
 12401.0,
 12402.0,
 12403.0,
 12405.0,
 12406.0,
 12407.0,
 12408.0,
 12409.0,
 12410.0,
 12412.0,
 12413.0,
 12414.0,
 12415.0,
 12417.0,
 12421.0,
 12422.0,
 12423.0,
 12425.0,
 12426.0,
 12427.0,
 12428.0,
 12429.0,
 12430.0,
 12431.0,
 12432.0,
 12433.0,
 12435.0,
 12436.0,
 12437.0,
 12438.0,
 12441.0,
 12442.0,
 12444.0,
 12445.0,
 12446.0,
 12447.0,
 12448.0,
 12449.0,
 12451.0,
 12452.0,
 12453.0,
 12455.0,
 12456.0,
 12457.0,
 12458.0,
 12461.0,
 12462.0,
 12463.0,
 12464.0,
 12465.0,
 12468.0,
 12471.0,
 12472.0,
 12473.0,
 12474.0,
 12475.0,
 12476.0,
 12477.0,
 12478.0,
 12479.0,
 12480.0,
 12481.0,
 12483.0,
 12484.0,
 12488.0,
 12489.0,
 12490.0,
 12491.0,
 12492.0,
 12493.0,
 12494.0,
 12497.0,
 12498.0,
 12500.0,
 12501.0,
 12502.0,
 12504.0,
 12507.0,
 12508.0,
 12509.0,
 12510.0,
 12513.0,
 12514.0,
 12515.0,
 12516.0,
 12517.0,
 12518.0,
 12519.0,
 12520.0,
 12521.0,
 12522.0,
 12523.0,
 12524.0,
 12526.0,
 12527.0,
 12528.0,
 12530.0,
 12532.0,
 12534.0,
 12536.0,
 12538.0,
 12539.0,
 12540.0,
 12541.0,
 12544.0,
 12545.0,
 12546.0,
 12547.0,
 12548.0,
 12550.0,
 12552.0,
 12553.0,
 12556.0,
 12559.0,
 12560.0,
 12562.0,
 12564.0,
 12566.0,
 12567.0,
 12569.0,
 12572.0,
 12574.0,
 12577.0,
 12578.0,
 12579.0,
 12580.0,
 12581.0,
 12582.0,
 12583.0,
 12584.0,
 12585.0,
 12587.0,
 12588.0,
 12589.0,
 12590.0,
 12591.0,
 12592.0,
 12593.0,
 12594.0,
 12596.0,
 12597.0,
 12598.0,
 12599.0,
 12600.0,
 12601.0,
 12603.0,
 12604.0,
 12609.0,
 12610.0,
 12611.0,
 12612.0,
 12613.0,
 12615.0,
 12616.0,
 12618.0,
 12619.0,
 12620.0,
 12621.0,
 12622.0,
 12623.0,
 12624.0,
 12625.0,
 12626.0,
 12627.0,
 12628.0,
 12630.0,
 12631.0,
 12633.0,
 12635.0,
 12637.0,
 12638.0,
 12639.0,
 12640.0,
 12641.0,
 12642.0,
 12643.0,
 12645.0,
 12647.0,
 12648.0,
 12649.0,
 12650.0,
 12652.0,
 12654.0,
 12656.0,
 12657.0,
 12658.0,
 12659.0,
 12660.0,
 12662.0,
 12664.0,
 12665.0,
 12667.0,
 12668.0,
 12669.0,
 12670.0,
 12673.0,
 12674.0,
 12676.0,
 12678.0,
 12679.0,
 12680.0,
 12681.0,
 12682.0,
 12683.0,
 12684.0,
 12685.0,
 12686.0,
 12689.0,
 12690.0,
 12691.0,
 12693.0,
 12694.0,
 12697.0,
 12700.0,
 12701.0,
 12702.0,
 12703.0,
 12704.0,
 12705.0,
 12708.0,
 12709.0,
 12710.0,
 12712.0,
 12713.0,
 12714.0,
 12715.0,
 12716.0,
 12717.0,
 12718.0,
 12719.0,
 12720.0,
 12721.0,
 12722.0,
 12723.0,
 12724.0,
 12725.0,
 12726.0,
 12727.0,
 12728.0,
 12729.0,
 12731.0,
 12732.0,
 12735.0,
 12736.0,
 12738.0,
 12739.0,
 12744.0,
 12748.0,
 12749.0,
 12750.0,
 12752.0,
 12754.0,
 12757.0,
 12758.0,
 12759.0,
 12762.0,
 12766.0,
 12772.0,
 12775.0,
 12778.0,
 12779.0,
 12782.0,
 12783.0,
 12784.0,
 12785.0,
 12787.0,
 12789.0,
 12790.0,
 12791.0,
 12792.0,
 12793.0,
 12795.0,
 12797.0,
 12802.0,
 12808.0,
 12809.0,
 12811.0,
 12814.0,
 12815.0,
 12816.0,
 12817.0,
 12818.0,
 12822.0,
 12832.0,
 12838.0,
 12841.0,
 12842.0,
 12845.0,
 12847.0,
 12856.0,
 12865.0,
 12866.0,
 12867.0,
 12872.0,
 12876.0,
 12878.0,
 12890.0,
 12901.0,
 12921.0,
 12925.0,
 12928.0,
 12931.0,
 12933.0,
 12936.0,
 12937.0,
 12947.0,
 12948.0,
 12949.0,
 12955.0,
 12963.0,
 12982.0,
 12988.0,
 13001.0,
 13004.0,
 13008.0,
 13012.0,
 13013.0,
 13014.0,
 13015.0,
 13018.0,
 13021.0,
 13023.0,
 13028.0,
 13030.0,
 13044.0,
 13048.0,
 13050.0,
 13069.0,
 13078.0,
 13081.0,
 13082.0,
 13089.0,
 13097.0,
 13102.0,
 13104.0,
 13115.0,
 13118.0,
 13124.0,
 13137.0,
 13141.0,
 13148.0,
 13151.0,
 13157.0,
 13166.0,
 13168.0,
 13174.0,
 13183.0,
 13186.0,
 13189.0,
 13196.0,
 13198.0,
 13199.0,
 13209.0,
 13223.0,
 13230.0,
 13232.0,
 13246.0,
 13255.0,
 13259.0,
 13263.0,
 13266.0,
 13268.0,
 13269.0,
 13285.0,
 13300.0,
 13301.0,
 13317.0,
 13322.0,
 13328.0,
 13334.0,
 13341.0,
 13344.0,
 13345.0,
 13350.0,
 13354.0,
 13362.0,
 13365.0,
 13368.0,
 13370.0,
 13384.0,
 13385.0,
 13408.0,
 13410.0,
 13414.0,
 13418.0,
 13421.0,
 13422.0,
 13426.0,
 13428.0,
 13430.0,
 13448.0,
 13450.0,
 13451.0,
 13455.0,
 13456.0,
 13458.0,
 13467.0,
 13471.0,
 13474.0,
 13475.0,
 13483.0,
 13485.0,
 13488.0,
 13491.0,
 13493.0,
 13503.0,
 13505.0,
 13506.0,
 13507.0,
 13509.0,
 13510.0,
 13518.0,
 13520.0,
 13521.0,
 13523.0,
 13533.0,
 13534.0,
 13544.0,
 13552.0,
 13558.0,
 13565.0,
 13566.0,
 13569.0,
 13571.0,
 13583.0,
 13588.0,
 13590.0,
 13596.0,
 13598.0,
 13599.0,
 13601.0,
 13614.0,
 13621.0,
 13626.0,
 13629.0,
 13632.0,
 13635.0,
 13637.0,
 13639.0,
 13642.0,
 13644.0,
 13650.0,
 13652.0,
 13654.0,
 13658.0,
 13659.0,
 13667.0,
 13668.0,
 13673.0,
 13680.0,
 13681.0,
 13692.0,
 13694.0,
 13700.0,
 13707.0,
 13712.0,
 13721.0,
 13722.0,
 13726.0,
 13730.0,
 13735.0,
 13736.0,
 13741.0,
 13742.0,
 13764.0,
 13771.0,
 13777.0,
 13786.0,
 13798.0,
 13802.0,
 13804.0,
 13810.0,
 13811.0,
 13812.0,
 13813.0,
 13815.0,
 13816.0,
 13817.0,
 13819.0,
 13821.0,
 13831.0,
 13838.0,
 13849.0,
 13850.0,
 13862.0,
 13869.0,
 13870.0,
 13880.0,
 13881.0,
 13883.0,
 13892.0,
 13901.0,
 13908.0,
 13911.0,
 13918.0,
 13919.0,
 13927.0,
 13930.0,
 13934.0,
 13940.0,
 13950.0,
 13952.0,
 13959.0,
 13969.0,
 13971.0,
 13975.0,
 13983.0,
 13985.0,
 13988.0,
 13991.0,
 13993.0,
 13999.0,
 14004.0,
 14006.0,
 14016.0,
 14020.0,
 14022.0,
 14023.0,
 14030.0,
 14034.0,
 14038.0,
 14044.0,
 14048.0,
 14049.0,
 14056.0,
 14057.0,
 14062.0,
 14075.0,
 14078.0,
 14082.0,
 14083.0,
 14087.0,
 14092.0,
 14093.0,
 14096.0,
 14098.0,
 14099.0,
 14105.0,
 14107.0,
 14110.0,
 14116.0,
 14121.0,
 14125.0,
 14132.0,
 14133.0,
 14140.0,
 14146.0,
 14152.0,
 14156.0,
 14159.0,
 14161.0,
 14175.0,
 14177.0,
 14178.0,
 14189.0,
 14194.0,
 14222.0,
 14232.0,
 14235.0,
 14245.0,
 14246.0,
 14250.0,
 14251.0,
 14262.0,
 14276.0,
 14277.0,
 14286.0,
 14291.0,
 14293.0,
 14298.0,
 14301.0,
 14307.0,
 14309.0,
 14329.0,
 14335.0,
 14338.0,
 14346.0,
 14375.0,
 14383.0,
 14387.0,
 14388.0,
 14390.0,
 14395.0,
 14407.0,
 14408.0,
 14410.0,
 14412.0,
 ...}

In [17]:
Customer_Customer_df.loc[17935.0].iloc[Customer_Customer_df.loc[17935.0].to_numpy().nonzero()].index

Index([12348.0, 12349.0, 12350.0, 12352.0, 12356.0, 12358.0, 12359.0, 12360.0,
       12361.0, 12362.0,
       ...
       18226.0, 18235.0, 18241.0, 18242.0, 18257.0, 18262.0, 18269.0, 18272.0,
       18283.0, 18287.0],
      dtype='object', name='CustomerID', length=1866)

In [18]:
Item_bought_by_B = set(Customer_Customer_df.loc[17935.0].iloc[Customer_Customer_df.loc[17935.0].to_numpy().nonzero()].index)
len(Item_bought_by_B)

1866

In [19]:
from collections import Counter

Item_to_recommend_to_B = Item_bought_by_A - Item_bought_by_B
len(Item_to_recommend_to_B)

322

In [20]:
df.loc[df['CustomerID'].isin(Item_to_recommend_to_B), ['StockCode', 
                                                       'Description']].drop_duplicates().set_index('StockCode').head()

                                 Description
StockCode
10002            INFLATABLE POLITICAL GLOBE
21912               VINTAGE SNAKES & LADDERS
21832                   CHOCOLATE CALCULATOR
22411      JUMBO SHOPPER VINTAGE RED PAISLEY
22379               RECYCLING BAG RETROSPOT

### Item-Item

In [21]:
Item_Item_df = pd.DataFrame(cosine_similarity(Customer_Item_df.T))
Item_Item_df.head()

,0,1,2,3,4,5,6,7,8,9,...,3674,3675,3676,3677,3678,3679,3680,3681,3682,3683
0,1.000000,0.0,0.094868,0.091287,0.0,0.000000,0.090351,0.063246,0.098907,0.095346,...,0.0,0.0,0.0,0.029361,0.0,0.0,0.0,0.059423,0.0,0.070057
1,0.000000,1.0,0.000000,0.000000,0.0,0.000000,0.032774,0.045883,0.047836,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.017244,0.0,0.000000
2,0.094868,0.0,1.000000,0.115470,0.0,0.000000,0.057143,0.060000,0.041703,0.060302,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.075165,0.0,0.000000
3,0.091287,0.0,0.115470,1.000000,0.0,0.000000,0.164957,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000
4,0.000000,0.0,0.000000,0.000000,1.0,0.447214,0.063888,0.044721,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000

In [22]:
Item_Item_df.columns = Customer_Item_df.T.index
Item_Item_df['StockCode'] = Customer_Item_df.T.index
Item_Item_df = Item_Item_df.set_index('StockCode')
Item_Item_df.head()

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214Y,90214Z,BANK CHARGES,C2,CRUK,D,DOT,M,PADS,POST
StockCode,,,,,,,,,,,,,,,,,,,,,
10002,1.000000,0.0,0.094868,0.091287,0.0,0.000000,0.090351,0.063246,0.098907,0.095346,...,0.0,0.0,0.0,0.029361,0.0,0.0,0.0,0.059423,0.0,0.070057
10080,0.000000,1.0,0.000000,0.000000,0.0,0.000000,0.032774,0.045883,0.047836,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.017244,0.0,0.000000
10120,0.094868,0.0,1.000000,0.115470,0.0,0.000000,0.057143,0.060000,0.041703,0.060302,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.075165,0.0,0.000000
10123C,0.091287,0.0,0.115470,1.000000,0.0,0.000000,0.164957,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000
10124A,0.000000,0.0,0.000000,0.000000,1.0,0.447214,0.063888,0.044721,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000

## StockCode가 0124G와 관련성 높은 순으로 10개의 상품

In [26]:
top_10_similar_items = list(Item_Item_df.loc['10124G'].sort_values(ascending=False).iloc[:10].index)

In [24]:
top_10_similar_items

['10124G',
 '10124A',
 '79190D',
 '22346',
 '47351B',
 '82011A',
 '84466',
 '85095',
 '22878',
 '22265']

In [25]:
df.loc[df['StockCode'].isin(top_10_similar_items), ['StockCode', 
                                                    'Description']].drop_duplicates().set_index('StockCode').loc[top_10_similar_items]

                               Description
StockCode
10124G            ARMY CAMO BOOKCOVER TAPE
10124A         SPOTS ON RED BOOKCOVER TAPE
79190D            RETRO PLASTIC DAISY TRAY
22346      PARTY PIZZA DISH GREEN POLKADOT
47351B               BLUE  VOILE LAMPSHADE
82011A     BATHROOM SCALES, TROPICAL BEACH
84466                   TOP SECRET PEN SET
85095            THREE CANVAS LUGGAGE TAGS
22878        NUMBER TILE COTTAGE GARDEN No
22265      EASTER DECORATION NATURAL CHICK