### 리스트 접근

In [179]:
a = [1 , 2, 'abc',[3,4,[5,6,[7,8]]]]
print(a[3])
print(a[3][0])
print(a[3][2])
print(a[3][2][2][0])

[3, 4, [5, 6, [7, 8]]]
3
[5, 6, [7, 8]]
7

### 문자열, 리스트 곱셈 가능(반복)

In [7]:
str = 'Python'
print(str * 2)
print(a * 2)

PythonPython
[1, 2, 'abc', [3, 4, [5, 6, [7, 8]]], 1, 2, 'abc', [3, 4, [5, 6, [7, 8]]]]

### C 처럼 리스트 원소 변경 가능

In [8]:
print(a[0])
a[0] = 'change'
print(a[0])

1
change

### join()  
문자열 삽입

In [175]:
a = "".join('abcd')
b =list(a)
print(type(b))
print(b)

<class 'list'>
['a', 'b', 'c', 'd']

## 리스트 삭제
### del 함수 - 리스트의 특정 요소 or 리스트 특정 범위를 삭제

In [14]:
c = [100, 200, 300, 400, 500, 600, 700]
print(c)
# 특정 위치 삭제
del(c[1])
print(c)
 
# 범위 삭제
del(c[1:4])
print(c)

[100, 200, 300, 400, 500, 600, 700]
[100, 300, 400, 500, 600, 700]
[100, 600, 700]

### remove(x) - 리스트에서 첫 번째로 나오는 x 삭제

In [16]:
c = [100, 200, 300, 300, 500, 600, 700]
c.remove(300)
print(c)

[100, 200, 300, 500, 600, 700]

### pop() - 리스트의 맨 마지막 요소를 돌려주고 해당 요소 삭제

In [180]:
c = [100, 200, 300, 300, 500, 600, 700]
d = c.pop()
print(c)
print(d)

[100, 200, 300, 300, 500, 600]
700

## 리스트 추가
###  insert(a, b): 리스트의 a위치에 b요소 삽입

In [178]:
c = [100, 200, 300, 300, 500, 600, 700]
c.insert(7,800) #7번째에 800추가
c

[100, 200, 300, 300, 500, 600, 700, 800]

### append(): 리스트의 맨 마지막에 요소 추가

In [23]:
c = [100, 200, 300, 300, 500, 600, 700]
c.append(800)
c

[100, 200, 300, 300, 500, 600, 700, 800]

## 그 밖의 리스트 관련 함수
### extend(): 리스트에 리스트를 더하는 함수  
### sort(): 리스트의 요소를 순서대로 정렬  
### reverse(): 리스트를 역순으로 뒤집어 줌
### set(), list(): 중복 제거
### range(a, b): a ~ b 까지의 요소를 가지는 리스트 생성

In [181]:
# index() 추가 설명
a = [1, 2, 3]
a.index(3)
a = [1, 2, 2, 3, 4, 5]
a.index(2,2) # 2를 2번째 인덱스부터 찾을 것
a.index(2,0,3) # 2를 0~3번째 인덱스에서 찾는 것

1

## 튜플 자료형
### 튜플은 1개의 요소만을 가질 때는 요소 뒤에 , 를 반드시 붙일 것!  
### 리스트와의 차이  
리스트: []로 둘러쌈, 생성/삭제/수정 가능  
튜플: ()로 둘러쌈, 값 변경 불가능

In [37]:
# 선언 
t1 = (1, 2, 3)
t2 = (1, )
t3 = 1, 2, 3

## 딕셔너리 자료형  
### key와 Value의 쌍 여러개  
key: 변하지 않는 값  
value: 변하는 값과 변하지 않는 값 모두 사용  
순서의 개념이 존재하지 않아 인덱싱 및 슬라이싱 불가능  
{}로 둘러싸임  
각 요소는 , 로 구분 
key 중복 금지  
key에 리스트 사용 금지

In [39]:
a = {1: 'a'}
a[2] = 'b' # {2:'b'} 추가
a

{1: 'a', 2: 'b'}

In [40]:
#key 값을 이용해 Value 얻기
a[1]

'a'

## keys(): key만을 모아서 dict_keys 객체 반환

In [43]:
a.keys()

dict_keys([1, 2])

In [46]:
# key 값을 리스트로 변환
list(a.keys())

[1, 2]

## values(): Value만을 모아서 dict_values 객체 반환  
## items(): key와 Value의 쌍을 튜플로 묶은 값을 모아서 dic_items 객체 반환  
## dear(): 딕셔너리 내의 모든 요소 삭제, 빈 딕셔너리는 {}로 표현  
## in: key가 딕셔너리 안에 있는지 조사, key가 딕셔너리 안에 존재하면 True, 존재하지 않으면 False 반환  
## get(): key에 대응되는 value 반환, 존재하지 않는 키 사용 시 None 반환, key값이 없을 경우 디폴트 값 대신 반환하도록 지정 가능

## 집합 자료형  
### set()키워드로 생성, 중복 허용 X, 순서 X  
### 교집합: & or intersection()  
### 합집합: | or union()  
### 차집합: - or difference()  
### add(): 이미 만들어진 set 자료형에 값 추가  
### update(): 여러 개의 값을 한꺼번에 추가  
### remove(): 특정 값을 제거

## 불 자료형  
### bool(): 자료형의 참/거짓을 식별하는 내장 함수

In [49]:
print(bool(''))
print(bool(0))
print(bool(-1)) # 0이외의 값은 True
print(bool([]))

False
False
True
False

### id(a): a의 메모리 주소 확인

In [61]:
a= 1 
b =a
print(id(a))
bool((id(a) == id(b)))

140710886450992

True

## .format

In [65]:
print("{0} {1} {0}" .format(1 ,2)) # 같은 값을 두 번 사용 가능

1 2 1

# 제어문

## if문  
if 조건식:  
   문장  

+ 들여쓰기로 구분하고 나머지는 다른 언어와 유사  
+ x in s, x not in s 사용해서 요소 s안에 x 유무 판단 가능  
+ elif는 else if 정도로 이해

*실습문제  
점수(score)를 입력 받아서 90점 이상이면 ‘A’, 80점 이상이면 ‘B’, 70점 이상이면 ‘C’를 그 외 점
수는 ‘F’를 출력하는 프로그램을 작성하시오.

In [67]:
score = int(input())
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

50
F

## while문  
while 조건식 :   
문장  
+ break, continue 사용 가능

*실습문제  
while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 출력하는 프로그램을 작성하시오.

In [85]:
i = 1
sum_= 0
while i <= 1000:
    if i % 3 == 0:
        sum_ += i
    i+=1 # 파이썬에서는 ++ 사용 불가
print(sum_)

166833

In [133]:
sum_= 0
for i in range(0,1000):
    i+=1 # 파이썬에서는 ++ 사용 불가
    if i % 3 == 0:
        sum_ += i
print(sum_)

166833

## for문  
for 변수 in 리스트(or 튜플, 문자열):  
문장  
+ continue, range 사용  
range: range( start, stop, jump)

In [121]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

*실습문제  
A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.  
[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]  
for문을 사용하여 A 학급의 평균 점수를 구하시오.

In [138]:
score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum_ = 0
for i in score:
    sum_ += i
avg = sum_ / len(score)
print(avg)

79.0

## 리스트 내포  
리스트 안에 for문 포함하기

In [150]:
a = [1, 2, 3, 4]
result = [num*3 for num in a if num % 2 == 0]
print(result)

[6, 12]

### end = ''

In [182]:
for i in range(10):
    print(i, end=' ') # \n대신 쓸거
print('')
for i in range(10):
    print(i, end='')
print('')
for i in range(10):
    print(i)

0 1 2 3 4 5 6 7 8 9
0123456789
0
1
2
3
4
5
6
7
8
9