# 실습 3. 택시 비용 매출 예측  
1. 데이터
: cab_rides.csv, weather.csv
2. 예측: Lyft/Uber 택시 가격 예측
3. 특징
: cab 운행 정보데이터와 날씨 데이터 함께(join) 분석
4. 목표:  
• 두개의 데이터 전처리
후 Join(Merge)  
• 가격 예측 90% 이상

## Hint  
1. location으로 join
1. join할 시 left join으로 택시 데이터를 잃지 않도록

## 데이터 확인

In [1]:
import pandas as pd
import numpy as np

ride = pd.read_csv('../data/lyft_uber/cab_rides.csv')
weather = pd.read_csv('../data/lyft_uber/weather.csv')

### Ride Data

In [2]:
ride.head()

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL

In [3]:
ride.shape

(693071, 10)

In [4]:
ride.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693071 entries, 0 to 693070
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   distance          693071 non-null  float64
 1   cab_type          693071 non-null  object
 2   time_stamp        693071 non-null  int64
 3   destination       693071 non-null  object
 4   source            693071 non-null  object
 5   price             637976 non-null  float64
 6   surge_multiplier  693071 non-null  float64
 7   id                693071 non-null  object
 8   product_id        693071 non-null  object
 9   name              693071 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 52.9+ MB

In [5]:
ride.isna().sum()

distance                0
cab_type                0
time_stamp              0
destination             0
source                  0
price               55095
surge_multiplier        0
id                      0
product_id              0
name                    0
dtype: int64

### Ride Data 결측치 제거

In [6]:
ride = ride.dropna(axis=0).reset_index(drop=True)
ride.shape

(637976, 10)

## Weather Data

In [7]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6276 entries, 0 to 6275
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   temp        6276 non-null   float64
 1   location    6276 non-null   object
 2   clouds      6276 non-null   float64
 3   pressure    6276 non-null   float64
 4   rain        894 non-null    float64
 5   time_stamp  6276 non-null   int64
 6   humidity    6276 non-null   float64
 7   wind        6276 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 392.4+ KB

### Weather Data 결측치 제거

In [8]:
weather['rain'] = weather['rain'].fillna(0)
weather.isna().sum()

temp          0
location      0
clouds        0
pressure      0
rain          0
time_stamp    0
humidity      0
wind          0
dtype: int64

In [9]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6276 entries, 0 to 6275
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   temp        6276 non-null   float64
 1   location    6276 non-null   object
 2   clouds      6276 non-null   float64
 3   pressure    6276 non-null   float64
 4   rain        6276 non-null   float64
 5   time_stamp  6276 non-null   int64
 6   humidity    6276 non-null   float64
 7   wind        6276 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 392.4+ KB

### weather data 장소로 group

In [10]:
weather.groupby('location').mean()

,temp,clouds,pressure,rain,time_stamp,humidity,wind
location,,,,,,,
Back Bay,39.082122,0.678432,1008.447820,0.007925,1.543857e+09,0.764073,6.778528
Beacon Hill,39.047285,0.677801,1008.448356,0.008297,1.543857e+09,0.765048,6.810325
Boston University,39.047744,0.679235,1008.459254,0.007738,1.543857e+09,0.763786,6.692180
Fenway,38.964379,0.679866,1008.453289,0.007343,1.543857e+09,0.767266,6.711721
Financial District,39.410822,0.676730,1008.435793,0.008563,1.543857e+09,0.754837,6.860019
Haymarket Square,39.067897,0.676711,1008.445239,0.008660,1.543857e+09,0.764837,6.843193
North End,39.090841,0.676730,1008.441912,0.008644,1.543857e+09,0.764054,6.853117
North Station,39.035315,0.676998,1008.442811,0.008649,1.543857e+09,0.765545,6.835755
Northeastern University,38.975086,0.678317,1008.444168,0.007358,1.543857e+09,0.767648,6.749426
South Station,39.394092,0.677495,1008.438031,0.008310,1.543857e+09,0.755468,6.848948
Theatre District,38.986711,0.677763,1008.444742,0.008405,1.543857e+09,0.767992,6.834302
West End,38.983403,0.677247,1008.441090,0.008657,1.543857e+09,0.767266,6.816233

In [11]:
weather_avg = weather.groupby('location').mean().drop(['time_stamp'], axis = 1).reset_index()
weather_avg

,location,temp,clouds,pressure,rain,humidity,wind
0,Back Bay,39.082122,0.678432,1008.447820,0.007925,0.764073,6.778528
1,Beacon Hill,39.047285,0.677801,1008.448356,0.008297,0.765048,6.810325
2,Boston University,39.047744,0.679235,1008.459254,0.007738,0.763786,6.692180
3,Fenway,38.964379,0.679866,1008.453289,0.007343,0.767266,6.711721
4,Financial District,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019
5,Haymarket Square,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
6,North End,39.090841,0.676730,1008.441912,0.008644,0.764054,6.853117
7,North Station,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
8,Northeastern University,38.975086,0.678317,1008.444168,0.007358,0.767648,6.749426
9,South Station,39.394092,0.677495,1008.438031,0.008310,0.755468,6.848948
10,Theatre District,38.986711,0.677763,1008.444742,0.008405,0.767992,6.834302
11,West End,38.983403,0.677247,1008.441090,0.008657,0.767266,6.816233

### Source Location DataFrame 생성

In [12]:
weather_source = weather_avg.rename(columns = {'location' : 'source_location',
                                     'temp' : 'source_temp',
                                     'clouds' : 'source_clouds',
                                     'pressure' : 'source_pressure',
                                      'rain' : 'source_rain',
                                      'humidity' : 'source_humidity',
                                      'wind' : 'source_wind'
                                     })
weather_source

,source_location,source_temp,source_clouds,source_pressure,source_rain,source_humidity,source_wind
0,Back Bay,39.082122,0.678432,1008.447820,0.007925,0.764073,6.778528
1,Beacon Hill,39.047285,0.677801,1008.448356,0.008297,0.765048,6.810325
2,Boston University,39.047744,0.679235,1008.459254,0.007738,0.763786,6.692180
3,Fenway,38.964379,0.679866,1008.453289,0.007343,0.767266,6.711721
4,Financial District,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019
5,Haymarket Square,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
6,North End,39.090841,0.676730,1008.441912,0.008644,0.764054,6.853117
7,North Station,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
8,Northeastern University,38.975086,0.678317,1008.444168,0.007358,0.767648,6.749426
9,South Station,39.394092,0.677495,1008.438031,0.008310,0.755468,6.848948
10,Theatre District,38.986711,0.677763,1008.444742,0.008405,0.767992,6.834302
11,West End,38.983403,0.677247,1008.441090,0.008657,0.767266,6.816233

### Destination Location DataFrame 생성

In [13]:
weather_destination = weather_avg.rename(columns = {'location' : 'destination_location',
                                     'temp' : 'destination_temp',
                                     'clouds' : 'destination_clouds',
                                     'pressure' : 'destination_pressure',
                                      'rain' : 'destination_rain',
                                      'humidity' : 'destination_humidity',
                                      'wind' : 'destination_wind'
                                     })
weather_destination

,destination_location,destination_temp,destination_clouds,destination_pressure,destination_rain,destination_humidity,destination_wind
0,Back Bay,39.082122,0.678432,1008.447820,0.007925,0.764073,6.778528
1,Beacon Hill,39.047285,0.677801,1008.448356,0.008297,0.765048,6.810325
2,Boston University,39.047744,0.679235,1008.459254,0.007738,0.763786,6.692180
3,Fenway,38.964379,0.679866,1008.453289,0.007343,0.767266,6.711721
4,Financial District,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019
5,Haymarket Square,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
6,North End,39.090841,0.676730,1008.441912,0.008644,0.764054,6.853117
7,North Station,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
8,Northeastern University,38.975086,0.678317,1008.444168,0.007358,0.767648,6.749426
9,South Station,39.394092,0.677495,1008.438031,0.008310,0.755468,6.848948
10,Theatre District,38.986711,0.677763,1008.444742,0.008405,0.767992,6.834302
11,West End,38.983403,0.677247,1008.441090,0.008657,0.767266,6.816233

## Merge

In [14]:
ride.head()

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL

In [15]:
df = pd.merge(ride, weather_source, left_on='source', right_on='source_location', how = 'left')
df.head()

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,source_location,source_temp,source_clouds,source_pressure,source_rain,source_humidity,source_wind
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,Haymarket Square,39.067897,0.676711,1008.445239,0.00866,0.764837,6.843193
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux,Haymarket Square,39.067897,0.676711,1008.445239,0.00866,0.764837,6.843193
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft,Haymarket Square,39.067897,0.676711,1008.445239,0.00866,0.764837,6.843193
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL,Haymarket Square,39.067897,0.676711,1008.445239,0.00866,0.764837,6.843193
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL,Haymarket Square,39.067897,0.676711,1008.445239,0.00866,0.764837,6.843193

In [16]:
df = pd.merge(df, weather_destination, left_on='destination', right_on='destination_location', how = 'left')
df.head()

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,...,source_rain,source_humidity,source_wind,destination_location,destination_temp,destination_clouds,destination_pressure,destination_rain,destination_humidity,destination_wind
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,...,0.00866,0.764837,6.843193,North Station,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux,...,0.00866,0.764837,6.843193,North Station,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft,...,0.00866,0.764837,6.843193,North Station,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL,...,0.00866,0.764837,6.843193,North Station,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL,...,0.00866,0.764837,6.843193,North Station,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637976 entries, 0 to 637975
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   distance              637976 non-null  float64
 1   cab_type              637976 non-null  object
 2   time_stamp            637976 non-null  int64
 3   destination           637976 non-null  object
 4   source                637976 non-null  object
 5   price                 637976 non-null  float64
 6   surge_multiplier      637976 non-null  float64
 7   id                    637976 non-null  object
 8   product_id            637976 non-null  object
 9   name                  637976 non-null  object
 10  source_location       637976 non-null  object
 11  source_temp           637976 non-null  float64
 12  source_clouds         637976 non-null  float64
 13  source_pressure       637976 non-null  float64
 14  source_rain           637976 non-null  float64
 15  source_humidity       637976 non-null  float64
 16  source_wind           637976 non-null  float64
 17  destination_location  637976 non-null  object
 18  destination_temp      637976 non-null  float64
 19  destination_clouds    637976 non-null  float64
 20  destination_pressure  637976 non-null  float64
 21  destination_rain      637976 non-null  float64
 22  destination_humidity  637976 non-null  float64
 23  destination_wind      637976 non-null  float64
dtypes: float64(15), int64(1), object(8)
memory usage: 121.7+ MB

### category data to Numerical Data

In [18]:
df['cab_type'].nunique()

2

In [19]:
condition  = (df['cab_type'] == 'Lyft')
df['cab_type'] = np.where(condition, 0, 1)
df['cab_type'].head()

0    0
1    0
2    0
3    0
4    0
Name: cab_type, dtype: int32

In [20]:
df['productId_name'] = df['product_id'].astype(str)+'_'+df['name'].astype(str)
df['product_id'].value_counts()

6f72dfc5-27f1-42e8-84db-ccc7a75f6969    55096
9a0e7b09-b92b-4c41-9779-2ad22b4d779d    55096
6d318bcc-22a3-4af6-bddd-b409bfce1546    55096
6c84fd89-3f11-4782-9b50-97c468b19529    55095
55c66225-fbe7-4fd5-9072-eab1ece5e23e    55094
997acbb5-e102-41e1-b155-9df7de0a73f2    55091
lyft_premier                            51235
lyft                                    51235
lyft_luxsuv                             51235
lyft_plus                               51235
lyft_lux                                51235
lyft_line                               51233
Name: product_id, dtype: int64

In [21]:
df1 = pd.get_dummies(df['productId_name'], drop_first = True)
df = pd.concat([df, df1],axis = 1 )

### drop columns

In [22]:
df.drop(['productId_name', 'name', 'product_id','id','destination','source','destination_location','source_location'], axis = 1, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637976 entries, 0 to 637975
Data columns (total 28 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   distance                                        637976 non-null  float64
 1   cab_type                                        637976 non-null  int32
 2   time_stamp                                      637976 non-null  int64
 3   price                                           637976 non-null  float64
 4   surge_multiplier                                637976 non-null  float64
 5   source_temp                                     637976 non-null  float64
 6   source_clouds                                   637976 non-null  float64
 7   source_pressure                                 637976 non-null  float64
 8   source_rain                                     637976 non-null  float64
 9   source_humidity                                 637976 non-null  float64
 10  source_wind                                     637976 non-null  float64
 11  destination_temp                                637976 non-null  float64
 12  destination_clouds                              637976 non-null  float64
 13  destination_pressure                            637976 non-null  float64
 14  destination_rain                                637976 non-null  float64
 15  destination_humidity                            637976 non-null  float64
 16  destination_wind                                637976 non-null  float64
 17  6c84fd89-3f11-4782-9b50-97c468b19529_Black      637976 non-null  uint8
 18  6d318bcc-22a3-4af6-bddd-b409bfce1546_Black SUV  637976 non-null  uint8
 19  6f72dfc5-27f1-42e8-84db-ccc7a75f6969_UberXL     637976 non-null  uint8
 20  997acbb5-e102-41e1-b155-9df7de0a73f2_UberPool   637976 non-null  uint8
 21  9a0e7b09-b92b-4c41-9779-2ad22b4d779d_WAV        637976 non-null  uint8
 22  lyft_Lyft                                       637976 non-null  uint8
 23  lyft_line_Shared                                637976 non-null  uint8
 24  lyft_lux_Lux Black                              637976 non-null  uint8
 25  lyft_luxsuv_Lux Black XL                        637976 non-null  uint8
 26  lyft_plus_Lyft XL                               637976 non-null  uint8
 27  lyft_premier_Lux                                637976 non-null  uint8
dtypes: float64(15), int32(1), int64(1), uint8(11)
memory usage: 91.9 MB

### Splitting Train/Test set

In [23]:
X = df.drop('price',axis=1)
y = df['price']

In [32]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size=0.3,
                                                    shuffle=True,
                                                    random_state=1)
print("Shape of X_train: {}".format(X_train.shape))
print("Shape of y_train: {}".format(y_train.shape))
print("Shape of X_test: {}".format(X_test.shape))
print("Shape of y_test: {}".format(y_test.shape))

Shape of X_train: (446583, 27)
Shape of y_train: (446583,)
Shape of X_test: (191393, 27)
Shape of y_test: (191393,)

### XGBRegressor

In [33]:
from sklearn import metrics
from xgboost import XGBRegressor

xgb = XGBRegressor()
xgb.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [34]:
y_pred = xgb.predict(X_test)

In [35]:
rmse = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
mae = metrics.mean_absolute_error(y_test,y_pred)
r2  = metrics.r2_score(y_test,y_pred)
print("RMSE: %.4f, MAE: %.4f, R-squared:%.4f"%(rmse,mae,r2))

RMSE: 1.6450, MAE: 1.0772, R-squared:0.9687

### LinearRegression

In [37]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)
print("Test R^2 Score: {:.5f}".format(model.score(X_test, y_test)))

Test R^2 Score: 0.92799