## jupyter notebook 단축키  
dd: 셀 지우기  
shift + enter : run  
a : 셀 생성  
esc: 모드 변경  
edit mode에서 m: 마크다운으로 변경

## 문자열 사용법  
1. "Python"  
2. 'Python'
3. '''Python'''  
4. """Python"""  
', " 과 ''', """의 차이점: 줄 바꿈 처리

In [2]:
s1 = 'python 
is good language'
print(s1)

SyntaxError: EOL while scanning string literal (<ipython-input-2-f877f1a780ce>, line 1)

In [23]:
s2 = '''python 
is good language'''
print(s2)

python
is good language

### 문자열 자료형

In [22]:
# 문자열 길이
len(s2)

25

In [20]:
# 슬라이싱
print(s2[0:6]) # 0 ~ 5
print(s2[:-1]) # 0 ~ n

python
python
is good language

In [21]:
# f string  
name = "홍길동"  
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [24]:
type(age)

int

In [26]:
# 자료형을 틀리게 해도 실행됨
print('%s' %age)

30

In [29]:
#바로 계산 가능
f"{age+1}"

'31'

### count()  
문자 개수를 세는 함수  
### index()와 find()
찾는 문자열이 처음 나온 위치를 반환  
find()는 찾는 문자열이 없으면 -1 반환  
단, index()는 찾는 문자열이 없으면 오류 발생

In [1]:
a = "hobby"
print(a.count('b'))
print(a.find('b'))
print(a.find('h'))
print(a.index('h'))
print(a.find('a'))

2
2
0
0
-1

### split()과 replace()  
split(): 공백 또는 문자열을 구분자로 해서 문자열을 분리, 분리된 문자열은 리스트로 반환  
replace(): 문자열 안의 특정 값을 다른 값으로 치환

In [2]:
# split
a = "Life is too short"
print(a.split())
# replace
print(a.replace("Life", "Your leg"))

['Life', 'is', 'too', 'short']
Your leg is too short

In [52]:
# 리스트
lst = a.split()
print(lst[0])

Life

In [57]:
a = input()

155

In [58]:
#캐스팅
print(type(a))
print(type(int(a)))
print(int(a)+100)

<class 'str'>
<class 'int'>
255

In [62]:
# 한번에 2개의 값 입력
name, address =input("이름과 주소를 입력하세요:").split()

이름과 주소를 입력하세요:홍길동 창원

In [63]:
print(name, address)

홍길동 창원

In [65]:
a = b = c = 1
print(a)
print(b)
print(c)

1
1
1

### 한번에 두 개의 문자열을 int형으로 캐스팅 불가  
map 사용으로 해결

In [4]:
age, grade = int(input('나이, 학년(정수 입력):').split())

나이, 학년(정수 입력):25 4

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [5]:
age, grade = map(int, input('나이, 학년(정수 입력):').split())

나이, 학년(정수 입력):25 4